@page "/ShowData/{Bulan}/{Tahun}"


@layout MainLayout
@inject IConfiguration _conf
@inject IServices _services
@rendermode InteractiveServer
@attribute [Authorize]
@inject IIdentityAuthenticationLib myIden
@inject NavigationManager NavMan
@inject IJSRuntime JSRuntime
@inject SweetAlertService Swal
@inject ImyUtils _utils


@if (isLoading)
{
    <div class="loading-overlay">
        <LoadingProgress />
    </div>
}


<div class="container-fluid">
        
    <div class="row">
        <div class="col-md-12 mt-3 text-end">
            <button class="btn btn-success" @onclick="PrintReport"><i class="fa-regular fa-file-xls pe-2"></i>Export Laporan ke Excel</button>
        </div>
    </div>
        
        @if (adaKurangJamBekerja)
        {
       
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Kurang Jam Bekerja</p>
                <table id="myTable" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:10%" class="text-center">Bulan</th>
                            <th style="width:10%" class="text-center">Tahun</th>
                            <th style="width:15%" class="text-center">No.Pekerja</th>
                            <th style="width:25%" class="text-center">Nama Pekerja</th>
                            <th style="width:15%" class="text-center">Kekerapan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _data_kurangjambekerja)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.Kekerapan</span></td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (adaRekodDetail)
        {
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Kurang Jam Bekerja - Maklumat Terperinci</p>
                <table id="myTable2" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:5%" class="text-center">Bulan</th>
                            <th style="width:5%" class="text-center">Tahun</th>
                            <th style="width:5%" class="text-center">No.Pekerja</th>
                            <th style="width:20%" class="text-center">Nama Pekerja</th>
                            <th style="width:10%" class="text-center">Log Masuk</th>
                            <th style="width:10%" class="text-center">Log Keluar</th>
                            <th style="width:40%" class="text-center">Catatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _datadetails_kurangjambekerja)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.In</span></td>
                                <td class="text-center"><span style="color:red;">@x.Out</span></td>
                                <td>@x.Remark</td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (adaLewat)
        {
            <hr />
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Lewat Thumbprint</p>
                <table id="myTable3" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:10%" class="text-center">Bulan</th>
                            <th style="width:10%" class="text-center">Tahun</th>
                            <th style="width:15%" class="text-center">No.Pekerja</th>
                            <th style="width:25%" class="text-center">Nama Pekerja</th>
                            <th style="width:15%" class="text-center">Kekerapan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _data_lewatthumb)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.Kekerapan</span></td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (adaLewatDetails)
        {
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Lewat Thumbprint - Maklumat Terperinci</p>
                <table id="myTable4" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:5%" class="text-center">Bulan</th>
                            <th style="width:5%" class="text-center">Tahun</th>
                            <th style="width:5%" class="text-center">No.Pekerja</th>
                            <th style="width:20%" class="text-center">Nama Pekerja</th>
                            <th style="width:10%" class="text-center">Log Masuk</th>
                            <th style="width:10%" class="text-center">Log Keluar</th>
                            <th style="width:40%" class="text-center">Catatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _datadetails_lewatthumb)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.In</span></td>
                                <td class="text-center"><span style="color:red;">@x.Out</span></td>
                                <td>@x.Remark</td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (adaTiadaLog)
        {
            <hr />
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Tiada Log Keluar</p>
                <table id="myTable5" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:10%" class="text-center">Bulan</th>
                            <th style="width:10%" class="text-center">Tahun</th>
                            <th style="width:15%" class="text-center">No.Pekerja</th>
                            <th style="width:25%" class="text-center">Nama Pekerja</th>
                            <th style="width:15%" class="text-center">Kekerapan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _data_tiadalog)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.Kekerapan</span></td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (adaTiadaLogDetail)
        {
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Tiada Log Keluar - Maklumat Terperinci</p>
                <table id="myTable6" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:5%" class="text-center">Bulan</th>
                            <th style="width:5%" class="text-center">Tahun</th>
                            <th style="width:5%" class="text-center">No.Pekerja</th>
                            <th style="width:20%" class="text-center">Nama Pekerja</th>
                            <th style="width:10%" class="text-center">Log Masuk</th>
                            <th style="width:10%" class="text-center">Log Keluar</th>
                            <th style="width:40%" class="text-center">Catatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _datadetails_tiadalog)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.In</span></td>
                                <td class="text-center"><span style="color:red;">@x.Out</span></td>
                                <td>@x.Remark</td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (adaMIA)
        {
            <hr />
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Tiada Info Kemasukan </p>
                <table id="myTable7" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:10%" class="text-center">Bulan</th>
                            <th style="width:10%" class="text-center">Tahun</th>
                            <th style="width:15%" class="text-center">No.Pekerja</th>
                            <th style="width:25%" class="text-center">Nama Pekerja</th>
                            <th style="width:15%" class="text-center">Kekerapan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _data_MIA)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.Kekerapan</span></td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (adaMIADetails)
        {
            <div class="table-responsive px-2 py-3 pe-2">
                @{
                    var i = 1;
                }
                <p class="fw-bold">Laporan Tiada Info Kemasukan - Maklumat Terperinci</p>
                <table id="myTable8" class="table table-bordered table-hover table-striped align-middle text-center shadow-sm rounded-3" style="font-size: 0.85rem;">
                    <thead class="table-success">
                        <tr class="fw-bold">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:5%" class="text-center">Bulan</th>
                            <th style="width:5%" class="text-center">Tahun</th>
                            <th style="width:5%" class="text-center">No.Pekerja</th>
                            <th style="width:20%" class="text-center">Nama Pekerja</th>
                            <th style="width:10%" class="text-center">Log Masuk</th>
                            <th style="width:10%" class="text-center">Log Keluar</th>
                            <th style="width:40%" class="text-center">Catatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in _datadetails_MIA)
                        {
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">@x.Bulan</td>
                                <td class="text-center">@x.Tahun</td>
                                <td class="text-center">@x.Employee</td>
                                <td>@x.Nama</td>
                                <td class="text-center"><span style="color:red;">@x.In</span></td>
                                <td class="text-center"><span style="color:red;">@x.Out</span></td>
                                <td>@x.Remark</td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div>
        }

  
</div>

@code {
    [Parameter]
    public string Bulan { get; set; } = string.Empty;

    [Parameter]
    public string Tahun { get; set; } = string.Empty;

    private bool isLoading = false;
    public bool adaKurangJamBekerja = false;
    public bool adaRekodDetail = false;
    public string Mode = string.Empty;
    public bool adaLewat = false;
    public bool adaLewatDetails = false;
    public bool adaTiadaLog = false;
    public bool adaTiadaLogDetail = false;
    public bool adaMIA = false;
    public bool adaMIADetails = false;
    public string NamaPekerja = string.Empty;
    public string NoStaf = string.Empty;

    IEnumerable<InfoReport> _data_kurangjambekerja = [];
    IEnumerable<InfoReportDetail> _datadetails_kurangjambekerja = [];
    IEnumerable<InfoReport> _data_lewatthumb = [];
    IEnumerable<InfoReportDetail> _datadetails_lewatthumb = [];
    IEnumerable<InfoReport> _data_tiadalog = [];
    IEnumerable<InfoReportDetail> _datadetails_tiadalog = [];
    IEnumerable<InfoReport> _data_MIA = [];
    IEnumerable<InfoReportDetail> _datadetails_MIA = [];

    public int myBulan; public int myTahun;

    private async Task LoadFile()
    {
        await JSRuntime.InvokeVoidAsync("loadSweetAlert");
    }

    protected override async Task OnInitializedAsync()
    {
        Mode = _conf["Mode"]?.ToString() ?? string.Empty;
        var authState = await myIden.GetUserAsync();
        var user = authState.Identity as ClaimsIdentity;
        NoStaf = user?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value ?? "";
        NamaPekerja = user?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value ?? "";
        if (user == null || !user.IsAuthenticated)
        {           
            await myIden.SignOutUserAsync();
            string baseUrl = (Mode == "Dev") ? "/SessiTamat" : "/rekodkedatangan/SessiTamat";
            NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);
        }
    }

   
    protected override async Task OnParametersSetAsync()
    {
        myBulan = Convert.ToInt32(Bulan); myTahun = Convert.ToInt32(Tahun);
        await Task.CompletedTask;
    }

    private void ResetKosong()
    {
        _data_kurangjambekerja = Enumerable.Empty<InfoReport>();
        _datadetails_kurangjambekerja = Enumerable.Empty<InfoReportDetail>();
        _data_lewatthumb = Enumerable.Empty<InfoReport>();
        _datadetails_lewatthumb = Enumerable.Empty<InfoReportDetail>();
        _data_tiadalog = Enumerable.Empty<InfoReport>();
        _datadetails_tiadalog = Enumerable.Empty<InfoReportDetail>();
        _data_MIA = Enumerable.Empty<InfoReport>();
        _datadetails_MIA = Enumerable.Empty<InfoReportDetail>();
    }

    private async Task LoadInitialize()
    {
        var tableIds = new[] { "myTable", "myTable2", "myTable3", "myTable4", "myTable5", "myTable6", "myTable7", "myTable8" };
        foreach (var id in tableIds)
        {
            try
            {
                await JSRuntime.InvokeVoidAsync("initializeDataTable", id);
            }
            catch (JSDisconnectedException)
            {
                Console.WriteLine($"Skip init table {id}, circuit disconnected.");
            }
        }
    }

    private async Task LoadMaklumat(int Bulan, int Tahun)
    {
        try
        {
            if (Bulan == 0 || Tahun == 0)
            {
                await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Sila Pilih Bulan dan Tahun Terlebih Dahulu?",
                    Text = "Info",
                    Icon = SweetAlertIcon.Error,
                    ShowCancelButton = false,
                    ConfirmButtonText = "Ya"
                });             
                return;
            }

            isLoading = true;
            StateHasChanged();

            try
            {
                ResetKosong();

                // Run queries in parallel
                var summaryKurangJamTask = _services.GetInfoSummary_KurangJamBekerja(Bulan, Tahun);
                var detailKurangJamTask = _services.GetInfoDetails_KurangJamBekerja(Bulan, Tahun);
                var summaryLewatTask = _services.GetInfoSummary_LewatThumbprint(Bulan, Tahun);
                var detailLewatTask = _services.GetInfoDetails_LewatThumbprint(Bulan, Tahun);
                var summaryTiadaLogKeluar = _services.GetInfoSummary_TiadaLogkeluar(Bulan, Tahun);
                var detailTiadaLogKeluar = _services.GetInfoDetails_TiadaLogkeluar(Bulan, Tahun);
                var summaryMIA = _services.GetInfoSummary_TiadaInfoMIA(Bulan, Tahun);
                var detailMIA = _services.GetInfoDetail_TiadaInfoMIA(Bulan, Tahun);

                await Task.WhenAll(summaryKurangJamTask, detailKurangJamTask, summaryLewatTask, detailLewatTask,
                                   summaryTiadaLogKeluar, detailTiadaLogKeluar, summaryMIA, detailMIA);

                // Assign data
                _data_kurangjambekerja = summaryKurangJamTask.Result;
                _datadetails_kurangjambekerja = detailKurangJamTask.Result;
                _data_lewatthumb = summaryLewatTask.Result;
                _datadetails_lewatthumb = detailLewatTask.Result;
                _data_tiadalog = summaryTiadaLogKeluar.Result;
                _datadetails_tiadalog = detailTiadaLogKeluar.Result;
                _data_MIA = summaryMIA.Result;
                _datadetails_MIA = detailMIA.Result;

                adaKurangJamBekerja = _data_kurangjambekerja.Any();
                adaRekodDetail = _datadetails_kurangjambekerja.Any();
                adaLewat = _data_lewatthumb.Any();
                adaLewatDetails = _datadetails_lewatthumb.Any();
                adaTiadaLog = _data_tiadalog.Any();
                adaTiadaLogDetail = _datadetails_tiadalog.Any();
                adaMIA = _data_MIA.Any();
                adaMIADetails = _datadetails_MIA.Any();

                if (!adaKurangJamBekerja && !adaRekodDetail &&
                    !adaLewat && !adaLewatDetails &&
                    !adaTiadaLog && !adaTiadaLogDetail &&
                    !adaMIA && !adaMIADetails)
                {
                    isLoading = false;
                    StateHasChanged();

                    await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Tiada Info Laporan Untuk Masa Ini?",
                        Text = "Info",
                        Icon = SweetAlertIcon.Error,
                        ShowCancelButton = false,
                        ConfirmButtonText = "Ok"
                    });

                    string baseUrl = (Mode == "Dev") ? $"/LihatLaporan" : $"/rekodkedatangan/LihatLaporan";
                    NavMan.NavigateTo(NavMan.ToAbsoluteUri(baseUrl).ToString(), true);

                    return;
                }
            }
            catch (Exception ex)
            {
                Console.Error.WriteLine($"Error in GetData: {ex.Message}");
                throw;
            }
            finally
            {
                isLoading = false;
            }
        }
        catch(System.Exception err)
        {
            throw;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadFile();
            await LoadMaklumat(myBulan, myTahun);
            await LoadInitialize();
            await _services.InsertAuditLogAsync("MA" + NoStaf, "Load Data For Show - OnAfterRender " + Bulan + "/" + Tahun);
            StateHasChanged();
        }
    }



    private async Task ExportAndDownload<T>(string fileName, IEnumerable<T> data)
    {
        var content = _utils.ExportToCSV(data);
        await _utils.DownloadFile(fileName, content, "text/csv");
    }

    
    public async Task PrintReport()
    {       

        var datasets = new Dictionary<string, object>
            {
                { "Summary_TiadaInfo", _data_MIA },
                { "Details_TiadaInfo", _datadetails_MIA },
                { "Summary_TiadaLogKeluar", _data_tiadalog },
                { "Details_TiadaLogKeluar", _datadetails_tiadalog },
                { "Summary_LewatThumbprint", _data_lewatthumb },
                { "Details_LewatThumbprint", _datadetails_lewatthumb },
                { "Summary_KurangJamBekerja", _data_kurangjambekerja },
                { "Details_KurangJamBekerja", _datadetails_kurangjambekerja }
            };

        var content = _utils.ExportMultipleToExcel(datasets);

        await _utils.DownloadFile("LaporanKehadiran.xlsx", content,
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");

        await _services.InsertAuditLogAsync("MA" + NoStaf, "Klik Button Export Excel For Download");
       
    }

}
